//Estilo de contacto
.c-grid{
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
    grid-template-areas: 
    "titulo"
    "contenido";

    .t-seccion{
        grid-area: titulo;
        justify-self: center;
        text-align: center;
        padding-top: 30px;
    }
    .c-seccion{
        grid-area: contenido;
        .bt{
            justify-items: center;
        }
        input{
            width: 100%;
        }
    }
}