@media (min-width:1024px){
    .s-grid{
        display: grid;
        margin-left: 8%;
        margin-right: 8%;
        grid-template-columns: 35% 65%;
        row-gap: 35px;
        grid-template-areas: 
        "titulo titulo"
        "imagen1 texto1"
        "imagen2 texto2"
        "imagen3 texto3"
        "imagen4 texto4";

        .t-seccion{
            grid-area: titulo;
            justify-self: center;
            text-align: center;
            padding-top: 30px;
        }
        .i-servicio{
            width: 85%;
            justify-self: center;
            align-self: center;
        }
        .d-servicio{
            align-self: center;
        }
        #d1{
            grid-area: texto1;
        }
        #d2{
            grid-area: texto2;
        }
        #d3{
            grid-area: texto3;
        }
        #d4{
            grid-area: texto4;
        }
        #i1{
            grid-area: imagen1;
        }
        #i2{
            grid-area: imagen2;
        }
        #i3{
            grid-area: imagen3;
        }
        #i4{
            grid-area: imagen4;
        }
    }
}
@media (max-width:1023px){
    .s-grid{
        margin-left: 8%;
        margin-right: 8%;
        display:flex;flex-direction: column;
        .t-seccion{
            justify-self: center;
            text-align: center;
            padding-top: 30px;
        }
        .i-servicio{
            width: 85%;
            justify-self: center;
            align-self: center;
        }
        .d-servicio{
            align-self: center;
            text-align: center;
        }
    }
}