/*Fuentes*/
$header-font:'Josefin Slab', serif;
$title-font:'Playfair Display', serif;
$text-font:'Josefin Sans', sans-serif;

/*Colores*/
$black-blue:#0D667E;
$light-blue:#F6FDFF;
$medium-blue:#E2F4F8;
$blue:#14A3C9;
$white:#fff;


/*Margenes*/
$m5:5px;
$m10:10px;
